topic = "" # Telegram topic ID (optional)
chat_id = "" # Telegram chat ID 
token = "" # Telegram bot token
sleep = 1800 # Sleep time in seconds (default: 30 minutes)
languages_to_get = "hu" # u0,hu,en